# IDEs
.project
.pydevproject
.idea
.vscode
.settings

# Random files
*~
\#*

# Python compiled byte code
*.pyc
*.pyo

# Coverage
coverage/
.coverage
.cache

# Others
*__pycache__/
.pytest_cache/

#Distribution
dist/
docs/build/
