# IDEs
.project
.pydevproject
.idea
.vscode
.settings

# Random files
*~
\#*

# Python compiled byte code
*.pyc
*.pyo

# Coverage
coverage/
coverage.*
.coverage
.cache

# Others
*__pycache__/
.pytest_cache/
cc-test-reporter

#Distribution
dist/
docs/build/
